@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,600&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --clr-yellow: #F6B400;
    --clr-gray:#E1EBE6; 
    --clr-white:#fff;
    --clr-orange:#FC6A03;


    --ff-primary:'Poppins',sans-serif;

}
:html{
    scroll-behavior: smooth;
}
body{
    font-family: var(--ff-primary);
}
section{
    padding: 20px 20px;
    max-height: 100vh;
}
footer{

    padding: 20px 20px;
    height: 30px;
}

/* Header and Intro Section */
.intro{
    height: 100vh;
    margin: 0 auto;
    background:
    -webkit-linear-gradient(-25deg,rgba(255,255,255,1)40%,rgba(246,180,0,1)0%);
}

.nav-container{
    display: flex;
    flex-direction: row;
    height:50px;
    justify-content: space-between;
    
}
.logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo h4{
    align-items: center;
    color: black;
    font-family: var(--ff-primary);
    font-size: 2em;
    margin-top: 7px;
}
.logo h4 span{
    color: var(--clr-yellow);
}
.nav-links{
    flex:1;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.list-items li{
    display: inline-block;
    padding: 10px 30px;
    list-style: none;

  
}
.list-items li::after{
    content: "";
    height: 4px;
    display: block;
    background-color:var(--clr-orange);
    width: 0%;
    transition: width 0.5s ease-in-out;
  
}
.list-items li:hover::after{
    width: 100%;
    
}
.list-items li a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    font-size: 1em;
    font-family: var(--ff-primary);
    font-weight: 600;
    color:black;

    
}

.basket-icon{
  font-size: 32px;
  margin-bottom: 12px;
  margin-left: 30px;
  position: relative;
  height: 100%;
  padding: 20px;
}
.basket-icon::before {
    position: absolute;
    content: "2";
    background-color: var(--clr-orange);
    color: #fff;
    text-align: center;
    height: 20px;
    width: 20px;
    padding: 2px;
    display: block;
    border: none;
    border-radius: 50%;
    font-size: 0.4em;
    bottom: 50%;
    right:15%;
  
}

.order-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 20px;
    height: 100vh;
}
.citypng{
    flex: 1.5;
    height: 90%;
}

.citypng img{
    height: 100%;
    width:100%;
}
.rain-container{
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    flex:1;
    padding-left: 20px;   
}
.rain-container h3{
    font-size: 1.7em;
    font-family: var(--ff-primary);
    font-weight: 600;
    margin-bottom: 20px;
    color: black;
}
.rain-container p{
    color:gray;

  
}
.rain-container div{
    height: 120px;
}
.order-btn{
    margin-left: 20px;
    background-color: var(--clr-yellow);
    color: var(--clr-white);
    text-decoration: none;
    width: 120px;
    height: 40px;
    font-size: 0.8em;
    padding:7px 20px;
    border:none;
    border-radius: 50px 30px 0 50px;
    text-align: center;
}



/* Qualities section */
.qualities{
    background-color: #E1EBE6;
    opacity: 0.7;
    padding-top: 200px;
}
.boxes{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}
.box-item{
  display: flex;
  flex-direction: column;
  border:1px solid gray;
  border-radius: 10px;
  padding:20px;
  text-align: center;
  width: 350px;
  align-content: space-between;
  transition: all 0.5s ease-in-out;

  

}
.box-item:hover{
    transform:scale(1.1)

}
.box-item h3{
    color: #800000;
    font-weight: 400;
    margin-top: 10px;
}

.box-item p{
    color: black;
    opacity: 0.7;
    margin-top: 20px;
}
.icon{
    color:var(--clr-yellow)
}
.box-item ion-icon{
     color: var(--clr-yellow);
     font-size: 52px;
}

/* menu */
.section{
    background-color: var(--clr-white);
}

.space-div{
    height: 200px;
}
.title {
    font-weight: 500;
    color:black;
    text-align: center;
    position: relative;

}
.title span{
    color:var(--clr-yellow);
    font-weight: 700;
    
}
.title::after{
    position: absolute;
    content: "";
    height: 5px;
    display: block;
    padding-top: 5px;
    background-color:var(--clr-orange);
    width: 5%;
    top:100%;
    left:47%;
  
}
.menu-items{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    row-gap: 50px;
    column-gap:20px;
    margin-top: 30px;
}
    .box-item p{
        color: black;
        opacity: 0.7;
        margin-top: 20px;
        

    }
.menu-item{
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.1), 0 4px 12px 0 rgba(0,0,0,0.5);
    border: none;
    border-radius: 20px;
    padding : 0 10px;
    
}
.menu-cart,.menu-cart2{
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
}
.increment-cart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    width: 80px;
    padding: 10px;
    background-color: var(--clr-gray);
    align-items: center;
    border-radius: 5px;
    
}

.increment-cart button{
    border:none;
    background-color: transparent;
    color: green;
    font-size: 1rem;
}
.increment-cart p{
    font-size: 1rem;
    color: black;
    font-weight: 400;
}
/* TO DO */
/* Merge repeating classes */

.menu-cart2 i{
width: 60px;

}
.menu-cart i{
    color:black;
    font-size: 24px;
    background-color: var(--clr-gray);
    padding: 5px 20px 5px 20px;
    border: none;
    border-radius: 7px;
    margin-bottom: 10px;
    
}
.menu-cart p,.menu-cart2 p{
    color: black;
    font-weight: 400;
    margin-bottom:17px;
}



.menu-item h3{
    color: #800000;
    font-weight: 600;
    margin-top: 10px;
    text-transform: uppercase;
}
.menu-item p{
    color: black;
    opacity: 0.7;
    margin-top: 20px;


}

/* the double decker section */

.double{
    height: 100vh;
    background-color: #E1EBE6;
    opacity: 0.7;
    /* /* to do!
    I am having trouble positioning the double decker section
    so I used a margin top of 50% which I dont know whether is good practice.
    I will find a better way to position the section
    */
    margin-top: 70%; 
    overflow: hidden;
}
/* according to the instructions, the images are not to be resized
so what I did with all the images , is put the images in a container 
and specify the dimensions of the container 
and make make the image take 100% width and height of the container*/
.top-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 20px;
    height: 100vh;
}

.double-decker{
       
       display: flex;
       flex-direction: column;
       height: 100%; /* it will take 100% height of its parent container*/
       justify-content: center;
       padding:20px;

}
.double-decker h3{
    font-weight: 600;
    font-size: 2.5em;
    color:black;


}
.double-decker h3 span{
    color: var(--clr-yellow);
}
.double-decker p{
    color: black;
    opacity: 0.7;
    margin-top: 20px;
}
.image-cont{
    display: flex;
    flex-direction: row;
    
}

.image1,.image2{
    height: 500px;
}
.image1 img,.image2 img{
    height: 100%;
}

.image1{
    position: relative;
    display: inline;
    margin-top: 70px; /* because using top property of absolute positioning of image 2 wasn't working out*/
}

.image2{
          position: absolute;
           
        }
        .dots{
        display: flex;
        flex-direction: row;
         margin-top: 20px;
         
        }
        
        .dots ul{
            list-style: none;

        }
        .dots ul li{
            display: inline;
            margin-left: 20px;
        }
        .dots ul li i{
            font-size: 16px;
            color:gray;
        }

        .dots ul li i:hover{
            color:var(--clr-orange);
        }
       .dots ion-icon{
            color: var(--clr-orange);
            font-size: 32px;
            margin-left: 30px;
            
            
        }
        
        
/* Discover section */


.discover{
    background-color:#F6B400;
    height: 100vh;
    
}
.discover-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 80%;
    align-content: center;
    align-items: center;
    
}
.apps-conts{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;
    justify-content: center;
    

}
.apps-conts h3{

    font-weight: 600;
    font-size: 2.5em;
    height: 70%;
    
    
}
.app-stores{
    display: flex;
    flex-direction: row;
    width: 420px;
    justify-content: space-evenly;
    height: 50%;
    align-items: flex-end;
    

}
.google,.apple{
    display: flex;
    flex-direction: row;
    background-color: black;
    color:white;
    width: 180px;
    height: 60px;
    padding: 5px;
    text-align: center;
    border: none;
    border-radius: 5px;
    
}
.apple i,ion-icon{
    font-size: 32px;
    margin-left: 5px;
    align-self: center;
    
}

.apple p ,.google p {
    font-weight: 300;
    font-size: 1em;
    margin-left:7px;
    text-align: center;
    
    
}

.google p{
    font-weight: 600 !important; 
}

.google span{
    text-transform: uppercase;
    font-weight: 300;
 

}

/* TO DO 
override font-size in p element */
.apple p span{
    font-weight: 600;

}

.mobile1,.mobile2{
    
height: 500px;
margin-top: 200px;
}
.mobile1 img, .mobile2 img{
    height: 100%;
}
.space-div2{
    width: 10%;
}

.space-div3{
    width: 5%;
}
.space-div4{
 height: 70%;
}
.space-div5{
    width: 50px;
}

/* T0 DO
Use absolute/relative positioning 
instead of empty div */



/* Subscribe/newsletter section */

.subscribe{
    background-color: #E1EBE6;
    opacity: 0.8;
}
.subscribe-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
    justify-content: space-between;
}
.subscribe-logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.subscribe-container .subscribe-logo h4{
    align-items: center;
    color: black;
    font-family: var(--ff-primary);
    font-size: 2em;
    margin-top: 7px;

}
.image-cont{
    height: 48px;
}
.subscribe-logo img{
    height: 100%;
}
.subscribe-container .subscribe-logo h4 span{
    color: var(--clr-yellow);


}

.site-map h4{
    font-weight: bold;
    font-size: 1.5em;
    color: black;
   
}
.site-map ul{
    list-style: none;
    line-height: 30px;
}
.news-letter{
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: center;
}
.news-letter h4{
    color: black;
    font-size:1.1em;
    margin-right: 55px;
    margin-top: 20px;
}
.subscribe-btn{
    display: flex;
    flex-direction: row;
    width: 300px;
    
}
.subscribe-btn input{
    height: 40px;
    width:200px;
    border: 1px solid gray;
    border-radius: 3px;
    padding:10px;
    color: black;

}
.subscribe-btn button{
    width:100px;
    margin-right:5px;
    color:white;
    background-color: var(--clr-yellow);
    border: none;
}

.footer-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 100%;
} 
.footer-container p{
    font-size: 0.8em;
}
.list-icons{
    list-style: none;
     padding-top: 15px;
}
.list-icons li{
    display: inline;

}
.list-icons li ion-icon{
    font-size: 18px;
}


